streamlit>=1.34.0
opencv-python-headless>=4.9.0.80
ultralytics>=8.0.145
numpy>=1.26.0
pillow>=10.3.0
cvzone>=1.6.1
torch>=2.2.2
torchvision>=0.17.2
streamlit-lottie>=0.0.5
streamlit-shadcn-ui>=0.1.18
streamlit-extras>=0.4.2
plotly>=5.22.0
requests>=2.31.0
